#decor{
	border : 1px solid black;
}

.player{
	width : 16px;
	height : 16px;
	position : absolute;
	border-radius : 50px;
	border : 2px solid black;
	z-index: 2;
	transition: all 0.1s ease-out;
}

.player::before{
	content : "";
	position : absolute;
	width : 6px;
	height : 6px;
	border-radius : 50px;
	background-color: black;
	top : -1px;
	left : 5px;
}

.player.dir8{transform: rotate(0deg);}
.player.dir12{transform: rotate(45deg);}
.player.dir4{transform: rotate(90deg);}
.player.dir6{transform: rotate(135deg);}
.player.dir2{transform: rotate(180deg);}
.player.dir3{transform: rotate(-135deg);}
.player.dir1{transform: rotate(-90deg);}
.player.dir9{transform: rotate(-45deg);}

